.bookmark {
    &-list {
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding-left: 0;

        &_item {
            width: calc(33.34% - 20px);
        }
    }

    &_img {
        width: 100%;

        &-container {
            display: block;
        }
    }

    &_title {
        display: block;
    }
}