.bookmark {
  &_thumbnail {
    background-position: center center;
    background-size: cover;
    border-radius: 4px;
    display: block;
    height: 250px;
    margin-bottom: 16px;
    text-indent: -999999px;
    width: 100%;
  }

  &_thumbnail-container {
    display: block;
  }

  &_title {
    -webkit-box-orient: vertical; /* stylelint-disable-line property-no-vendor-prefix */
    color: #000;
    display: -webkit-box; /* stylelint-disable-line value-no-vendor-prefix */
    font-weight: 600;
    -webkit-line-clamp: 3;
    max-height: 4.4em;
    overflow: hidden;
    text-align: justify;
    text-decoration: none;
  }

  &_extras {
    display: flex;
    justify-content: space-between;
    margin: 8px 0;
  }

  &_reading-time {
    align-items: center;
    display: flex;
  }

  &_reading-time_icon {
    margin-right: 5px;
  }

  &_domain {
    color: #000;
    font-weight: 100;
    text-decoration: none;
  }

  &_excerpt {
    margin-top: 0;
    max-height: 3em;
    overflow: hidden;
    text-align: justify;
  }

  &_actions {
    bottom: 10px;
    position: absolute;
    right: 0;
  }

  &_icon {
    cursor: pointer;
  }
}
