.bookmark {
  &-list {
    list-style: none;
    padding-left: 0;

    &_item {
      position: relative;
      height: 460px;

      margin: 0 auto 32px;
      border-bottom: 1px solid $third-color;
      padding-bottom: 16px;
    }
  }

  &_thumbnail {
    display: block;
    width: 100%;
    height: 250px;
    margin-bottom: 16px;
    background-position: center center;
    background-size: cover;
    border-radius: 4px;

    &-container {
      display: block;
    }
  }

  &_title {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-height: 4.4em;
    overflow: hidden;
    font-weight: 600;
    text-align: justify;
    text-decoration: none;
    color: #000;
  }

  &_extras {
    display: flex;
    justify-content: space-between;
    margin: 8px 0;
  }

  &_reading-time {
    display: flex;
    align-items: center;
  }

  &_reading-time_icon {
    margin-right: 5px;
  }

  &_domain {
    text-decoration: none;
    color: #000;
    font-weight: 100;
  }

  &_excerpt {
    max-height: 3em;
    margin-top: 0;
    overflow: hidden;
    text-align: justify;
  }

  &_actions {
    position: absolute;
    right: 0;
    bottom: 10px;
  }

  &_icon {
    cursor: pointer;
  }

  @include for-phone-landscape-up {
    &-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      grid-column-gap: 30px;
      grid-row-gap: 20px;
    }
  }

  @include for-tablet-portrait-up {
    &-list {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
