$button-color: rgb(23, 50, 97);
$button-border-color: darken($button-color, 0.5);

.button {
  background-color: $button-color;
  border: 0.1rem solid $button-border-color;
  border-radius: 0.4rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: fira-sans-2, sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}
