.bookmark-form {
  display: flex;
  position: absolute;
  z-index: 510;
  top: 0;
  left: 20px;
  right: 69px;
  height: 35px;
  padding-top: 13px;
  background: #fff;

  &_label {
    display: none;
    margin-right: 10px;
    line-height: normal;
    font-size: 1rem;
    font-weight: 600;

    &:after {
      content: ":";
    }
  }

  &_field {
    flex-grow: 1;
    box-sizing: border-box;
    height: 100%;
    margin: 0 10px 10px 0;
    font-size: 18px;
  }

  &_button {
    height: 100%;
    padding: 0;
    border: 0;
    background: transparent;
  }
}

.form-error {
  width: 100%;
  color: red;
  text-align: right;
  font-size: 0.75rem;
}

.form-submit[type="submit"] {
  margin-left: 0;
}
