$spacing: 10px;

.bookmark-form {
  background: #eee;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  height: $head-height - $spacing * 2;
  left: 20px;
  padding: 5px 5px 5px 15px;
  position: absolute;
  right: 59px;
  top: 10px;
  z-index: 510;

  &_label {
    display: none;
    font-size: 1rem;
    font-weight: 600;
    line-height: normal;
    margin-right: 10px;
  }

  &_label::after {
    content: ":";
  }

  &_field {
    background: none;
    border: 0;
    box-sizing: border-box;
    color: darken($header-icon-color, 25);
    flex-grow: 1;
    font-size: 18px;
    height: 100%;
  }

  &_field::placeholder {
    color: lighten($header-icon-color, 15);
  }

  &_button {
    background: transparent;
    border: 0;
    padding: 0;
  }
}

.form-error {
  color: #f00;
  font-size: 0.75rem;
  text-align: right;
  width: 100%;
}

.form-submit[type="submit"] {
  margin-left: 0;
}
