$icon-height: $head-height - 9px;

.navbar {
  &.-main {
    position: fixed;
    z-index: 500;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: $head-height;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid $third-color;
    background: #fff;
  }

  &_branding {
    display: flex;
    text-decoration: none;
  }

  &_actions {
    display: flex;
  }

  &_button {
    display: flex;
    padding: 0;
    margin: 0;
    border: 0;
    background: none;
    cursor: pointer;

    &:not(:first-child) {
      align-items: center;
      margin-left: 10px;

      &:last-child::before {
        height: 35px;
        border-left: 1px solid $header-icon-color;
        margin-right: 10px;
        content: '';
      }
    }
  }
}

.branding {
  &_logo {
    width: $head-logo-size;
    height: $head-logo-size;
    margin-right: 10px;
  }

  &_text {
    font-size: 24px;
    font-weight: 700;
  }
}
