$icon-height: $head-height - 9px;

.navbar {
  &.-main {
    align-items: center;
    background: #fff;
    border-bottom: 1px solid $third-color;
    box-sizing: border-box;
    display: flex;
    height: $head-height;
    justify-content: space-between;
    padding: 0 20px;
  }

  &_actions {
    display: flex;
  }

  &_button {
    background: none;
    border: 0;
    cursor: pointer;
    display: flex;
    margin: 0;
    padding: 0;
  }

  &_button:not(:first-child) {
    align-items: center;
    margin-left: 10px;
  }

  &_button:not(:first-child):last-child::before {
    border-left: 1px solid $header-icon-color;
    content: "";
    height: 35px;
    margin-right: 10px;
  }
}
