$header-height: 35px;

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-title {
  display: inline;
}

.navigation-title-link {
  display: flex;
  text-decoration: none;
}

.navigation-list {
  list-style: none;
}

.navigation-item {
  flex-grow: 2;
}

.header-icon {
  width: auto;
  height: $header-height;
  cursor: pointer;
}

.header-icon:not(.logo) {
  stroke: $brand-color;
  padding: 0 2px;
}

.logo.header-icon {
  margin-right: 10px;
}
