.logo {
  height: auto;
  width: 50%;

  &-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
  }

  &-title {
    color: $brand-color;
    margin: 0;
  }
}
