body {
  height: 100vh;
  margin: 0;

  font-family: fira-sans-2, sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
}

#root {
  height: 100%;
}

.container {
  box-sizing: border-box;
  padding: 8px;
}

.container.full {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
